body{
    margin: 0px;
    font-family: 'Mulish', sans-serif;
    
    
}

.header{
    background-color: #21c08b;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu{
    margin-right: 10px;
}

.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: -15px 0px 0px -10px
}

.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li{
    margin: 10px 0px;
}

.header__menu li a{
    color: white;
    text-decoration: none;
}

.header__menu li a:hover{
    text-decoration: underline;
}

.header__menu--profile{
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.header__menu--profile img{
    margin-right: 8px;
    width: 40px;
    height: 40px

}
.header__menu--profile p{
    margin-right: 0px;
    color: white;
}

.login{
    background: linear-gradient(#21c08b, #824DF3);
    /*distribuci贸n y alineacion con flex*/
    display: flex;
    /* alineacion vertical */
    align-items: center;
    /* alineacion horizontal */
    justify-content: center;
    padding: 0px 30px;
    /* (vh) view height medica relativa al porcentaje de la pantalla del usurio 
        (-200) distribuci贸n minima de la distancia entre el encabezado y el login
        y el footer
    */
    min-height: calc(100vh - 200px);
}

.login__container{
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 2px white;
    border-radius: 40px;
    color: white;
    padding: 68px 60px 40px;
    min-height: 700px;
    width: 300px;
    /*distribuci贸n equivalente de los elementos del contenedor*/
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0px rgb(243, 238, 238);
}

.login__container--form{
    display: flex;
    flex-direction: column;
}

.login__container--form label{
    font-size: 14px;
}

.login__container--remember-me{
    color:white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a{
    color:white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover{
    text-decoration: underline;
}

.login__container--social-media div{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media div img{
    width: 30px;
    margin-right: 10px;
}

.login__container--register{
    font-size: 14px;
}

.login__container--register a{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.login__container--login a{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.login__container--register a:hover{
    text-decoration: underline;
}

.input{
    background-color: transparent;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

/*pseudolelemnto para modificar el texto que se encuentra dentro del input*/
::placeholder{
    color: white;
}

.button{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 16px;
    height: 50px;
    /* espacio entre letras */
    letter-spacing: 1px;
    margin: 10px 0px
}

.not-found{
    background: linear-gradient(#21c08b, #824DF3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* (vh) view height medica relativa al porcentaje de la pantalla del usurio 
        (-200) distribuci贸n minima de la distancia entre el encabezado y el login
        y el footer
    */
    min-height: calc(100vh - 200px);
}
.not-found--title{
    color: white;
    font-size: 40px;
    margin-bottom: 0px;
}

.not-found p{
    color: white;
    font-size: 16px;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
  
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
.pulse {
    animation-name: pulse;
    animation-duration: 1s;
}

.footer{
    background-color: #824DF3;
    display: flex;
    align-items: center;   
    height: 100px;
    width: 100%;
}

.footer a{
    color: white;
    cursor: pointer;
    font-size: 14;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}